<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FLAVOR</key>
	<string>$(FLAVOR)</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location permission is required to display your location on the branch map.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location permission is required to display your location on the branch map.</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera permission is required for barcode scanning.</string>
</dict>
</plist>
